<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <div class="card-body">
                <h1 class="card-title"><%= category.name %> </h1>
                <h2 class="card-text"><%= category.description %> </h2>
            </div>
            
            <% for (item of items) { %>
                <ul>
                    <% if (item.category === category.name) {%>
                        <li><a href="/items/<%= item._id %>"><%= item.name %> </a></li>
                    <% } %>
                </ul>
            <% } %>
            <p><a href="/items/new">Add new item</a></p> 
            <p><a href="/categories/<%= category._id%>/edit">Edit Category</a></p>
            <p>
                <form action="/categories/<%=category._id%>?_method=DELETE" method="POST">
                    <button>Delete Category</button>
                </form>
            </p>
        </div>
    </div>
</div>

