<% layout('layouts/boilerplate') %>
<h1>Page for <%= item.name %></h1>
<p>Current price: $<%= item.price %> </p>
<p>Number in stock: <%= item.stock %> </p>
<p>Under the category of <%= item.category %> </p>
<p><a href="/items/<%= item._id%>/edit">Edit</a></p>
<p>
    <form action="/items/<%=item._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</p>
